.item{
    padding-left: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;

}

.underline{
    border-bottom: 1px solid #eee;

}

input{
    border: none;
}

span{
    color:gray;
}

.plus{
    padding: .9rem 1rem;
    border: 2px dotted lightgray;
    margin-top: 0rem;

}