<app-transition>
  <div class="line1"></div>

  <div class="item">
    <span class="shrink">原密码</span>
    <input type="text" placeholder="原密码" [(ngModel)]="oldPassword">
  </div>
  <div class="line1"></div>

  <div class="item">
    <span class="shrink">新密码</span>
    <input type="text" placeholder="新密码" [(ngModel)]="newPassword">
  </div>
  <div class="container bg-gray" style="font-size:.5rem;padding:.5rem">
    <span>密码由6-20英文字母,数字或符号组成</span>
  </div>
  <div class="container">
    <button class=" btn btn-block bg-orange text-white " style="margin-top:2rem" (click)="changePassword()">完成</button>
  </div>



</app-transition>