<app-transition>
  <div class="page">
    <div class="bg-full" style="background-image:url(/assets/images/首页_02.jpg);height:30vh;padding-top:.3rem;">
      <div class="container">
        <div class="flex space-around flex-center " (click)="addressSelect.show()">
          <span class="flex shrink text-white">{{address.name}} <i class="icon iconfont icon-down2 " >  </i> </span>
          <span class=" flex  margin-left-5 margin-right-5  bg-white rounded" style="width:60%;height:2.2rem;">
     <i class="icon iconfont icon-search shrink flex-center" style="width:2rem;"></i> 
     <input  class="full-width w-100 border-none rounded" placeholder="铜合页"> </span>
          <span class="flex column align-items-center text-white">
    <i class="icon iconfont icon-fabuxuqiuben01  text-big text-wide"></i>
    <span class="text-small">发需求</span>
          </span>
        </div>
      </div>
    </div>

    <div class="container flex flex-wrap space-between menus" style="padding-top:1rem;padding-bottom:.5rem;">

      <div class=" flex column flex-center ">
        <img src="/assets/images/1.jpg" alt="">
        <span> 一件批发</span>
      </div>
      <div class=" flex column flex-center">
        <img src="/assets/images/2.jpg" alt="">
        <span> 厂家批发</span>
      </div>
      <div class=" flex column flex-center">
        <img src="/assets/images/3.jpg" alt="">
        <span> 省城批发</span>
      </div>
      <div class=" flex column flex-center">
        <img src="/assets/images/4.jpg" alt="">
        <span> 本地批发</span>
      </div>
      <div class=" flex column flex-center ">
        <img src="/assets/images/5.jpg" alt="">
        <span> 商家</span>
      </div>
      <div class=" flex column flex-center">
        <img src="/assets/images/6.jpg" alt="">
        <span> 物流合作</span>
      </div>
      <div class=" flex column flex-center">
        <img src="/assets/images/7.jpg" alt="">
        <span> 留言板</span>
      </div>
      <div class=" flex column flex-center">
        <img src="/assets/images/8.jpg" alt="">
        <span> 我要开店</span>
      </div>


    </div>

    <div class="bg-gray" style="height:1rem;"></div>
    <div class="container bg-white" style="padding-top:.5rem;padding-bottom:.5rem;">
      <img src="/assets/images/头条.jpg" style="width:15%"> <span class="text-gray text-small" style="border-left:1px solid gray;padding-left:1rem;margin-left:1rem;">"酒香不怕巷子深"</span>
    </div>

    <div class="bg-gray" style="height:.5rem;"></div>

    <img src="/assets/images/轮播1.jpg" class="img-fluid">
    <div class="bg-gray" style="height:.5rem;"></div>
    <div class="container bg-white">
      <div class="flex space-between" style="padding-top: .3rem;padding-bottom: 0rem;">
        <span class="flex-center"> <img src="/assets/images/大市场.jpg" alt="" class="fluid" style="width:22%">  <span style="color:orange;margin-left:1rem;"> 大市场</span></span>
        <span> <span class="text-gray">更多</span> <i class="icon iconfont icon-enter"></i></span>
      </div>




    </div>
    <div class="container bg-white" style="padding-bottom:.5rem;">
      <div class="flex flex-wrap  products">
        <div class="col-4 no-padding" style="border:1px solid light-gray; text-center">
          <img src="/assets/images/商户图片.jpg" alt="" class="img-fluid">
          <span>大港建材城</span>
        </div>
        <div class="col-4" style="border:1px solid light-gray; text-center">
          <img src="/assets/images/商户图片.jpg" alt="" class="img-fluid">
          <span>大港建材城</span>
        </div>
        <div class="col-4" style="border:1px solid light-gray; text-center">
          <img src="/assets/images/商户图片.jpg" alt="" class="img-fluid">
          <span>大港建材城</span>
        </div>
        <div class="col-4" style="border:1px solid light-gray; text-center">
          <img src="/assets/images/商户图片.jpg" alt="" class="img-fluid">
          <span>大港建材城</span>
        </div>
        <div class="col-4" style="border:1px solid light-gray; text-center">
          <img src="/assets/images/商户图片.jpg" alt="" class="img-fluid">
          <span>大港建材城</span>
        </div>
        <div class="col-4" style="border:1px solid light-gray; text-center">
          <img src="/assets/images/商户图片.jpg" alt="" class="img-fluid">
          <span>大港建材城</span>
        </div>


      </div>


    </div>
    <div class="bg-gray" style="height:.5rem;"></div>
    <div class="container bg-white" style="padding-bottom:.5rem;">
      <div class="flex space-between" style="padding-top: .3rem;padding-bottom: 0rem;">
        <span class="flex-center"> <img src="/assets/images/实力.jpg" alt="" class="fluid" style="width:22%">  <span class="purple text-small " style="margin-left:1rem;"> 实力商家</span></span>
        <span> <span class="text-gray">更多</span> <i class="icon iconfont icon-enter"></i></span>
      </div>

    </div>
    <div class="container bg-white" style="padding-bottom:.5rem;">
      <div class="flex flex-wrap  products">
        <div class="col-4 no-padding" style="border:1px solid light-gray; text-center">
          <img src="/assets/images/商户图片.jpg" alt="" class="img-fluid">
          <span>大港建材城</span>
        </div>
        <div class="col-4" style="border:1px solid light-gray; text-center">
          <img src="/assets/images/商户图片.jpg" alt="" class="img-fluid">
          <span>大港建材城</span>
        </div>
        <div class="col-4" style="border:1px solid light-gray; text-center">
          <img src="/assets/images/商户图片.jpg" alt="" class="img-fluid">
          <span>大港建材城</span>
        </div>
        <div class="col-4" style="border:1px solid light-gray; text-center">
          <img src="/assets/images/商户图片.jpg" alt="" class="img-fluid">
          <span>大港建材城</span>
        </div>
        <div class="col-4" style="border:1px solid light-gray; text-center">
          <img src="/assets/images/商户图片.jpg" alt="" class="img-fluid">
          <span>大港建材城</span>
        </div>
        <div class="col-4" style="border:1px solid light-gray; text-center">
          <img src="/assets/images/商户图片.jpg" alt="" class="img-fluid">
          <span>大港建材城</span>
        </div>


      </div>
    </div>
    <div class="bg-gray" style="height:.5rem;"></div>
    <div class="container bg-white">
      <div class="flex space-between bg-white" style="    padding-top: .3rem;padding-bottom: 0rem;">
        <span class="flex-center"> <img src="/assets/images/热销.jpg" alt="" class="fluid" style="width:22%">  <span class="text-gray  text-small" style="color:orange;margin-left:1rem; "> 热销货物</span></span>
        <span> <span class="text-gray">更多</span> <i class="icon iconfont icon-enter"></i></span>
      </div>


    </div>
    <div class="container bg-white" style="padding-bottom:.5rem;">
      <div class="flex  flex-wrap products">
        <div class="col-4 ">
          <img src="/assets/images/jiudian_7.jpg" class="img-fluid">
          <span class="text-red">￥69</span>
        </div>
        <div class="col-4 ">
          <img src="/assets/images/jiudian_7.jpg" class="img-fluid">
          <span class="text-red">￥69</span>
        </div>
        <div class="col-4 ">
          <img src="/assets/images/jiudian_7.jpg" class="img-fluid">
          <span class="text-red">￥69</span>
        </div>
        <div class="col-4 ">
          <img src="/assets/images/jiudian_7.jpg" class="img-fluid">
          <span class="text-red">￥69</span>
        </div>
        <div class="col-4 ">
          <img src="/assets/images/jiudian_7.jpg" class="img-fluid">
          <span class="text-red">￥69</span>
        </div>
        <div class="col-4 ">
          <img src="/assets/images/jiudian_7.jpg" class="img-fluid">
          <span class="text-red">￥69</span>
        </div>


      </div>

    </div>

    <div class="bg-gray" style="height:.5rem;"></div>
    <div class="container text-gray">
      <div class="flex space-between" style="padding-top:1rem;padding-bottom:1rem;">
        <span class="flex-center">  <span class="left-orange-border" > 更多推荐</span></span>

      </div>
    </div>

    <div class="container ">
      <div class="flex  flex-wrap products">
        <div class="col-6 ">
          <img src="/assets/images/jiudian_7.jpg" class="img-fluid">
          <span>北欧现代简约吊灯 </span>

          <span class="text-red">￥69   <span> <i class="icon iconfont icon-heart"></i> </span> </span>
        </div>
        <div class="col-6 ">
          <img src="/assets/images/jiudian_7.jpg" class="img-fluid">
          <span>北欧现代简约吊灯</span>

          <span class="text-red">￥69 <span> <i class="icon iconfont icon-heart"></i> </span></span>
        </div>
        <div class="col-6 ">
          <img src="/assets/images/jiudian_7.jpg" class="img-fluid">
          <span>北欧现代简约吊灯</span>

          <span class="text-red">￥69 <span> <i class="icon iconfont icon-heart"></i> </span></span>
        </div>
        <div class="col-6 ">
          <img src="/assets/images/jiudian_7.jpg" class="img-fluid">
          <span>北欧现代简约吊灯</span>

          <span class="text-red">￥69 <span> <i class="icon iconfont icon-heart"></i> </span></span>
        </div>
        <div class="col-6 ">

          <img src="/assets/images/jiudian_7.jpg" class="img-fluid">
          <span>北欧现代简约吊灯</span>

          <span class="text-red">￥69 <span> <i class="icon iconfont icon-heart"></i> </span></span>
        </div>
        <div class="col-6 ">
          <img src="/assets/images/jiudian_7.jpg" class="img-fluid">
          <span>北欧现代简约吊灯  </span>

          <span class="text-red">￥69 <span> <i class="icon iconfont icon-heart"></i> </span></span>
        </div>


      </div>

    </div>


    <div class="text-center loading">
      <img src="/assets/images/loading.gif" alt=""> <span class="">下拉加载更多</span>

    </div>




  </div>
</app-transition>
<app-bottom-bar></app-bottom-bar>


<app-address-select #addressSelect (onSelectCity)="selectCity($event); addressSelect.hide();"></app-address-select>
