<app-transition *ngIf="isOpen">
  <div class="bg-gray container" style="padding-top:.5rem;padding-bottom:.5rem;">
    <div class="bg-white search-input">
      <i class="icon iconfont  icon-search" style="margin-left: 13px;"></i>
      <input type="text">
    </div>
  </div>

  <div class="bg-gray flex ">
    <div class="flex1 flex column category">
      <div *ngFor="let category of productCategorys" [class.active]="selectedCategory==category" (click)="selectedCategory=category;scrollTo(category._id)">{{category.name}}</div>


    </div>
    <div class="flex4">
      <div class=" bg-white" *ngFor="let category of productCategorys" id="{{category._id}}">
        <div class="container">
          <h6 class="text-center"> {{category.name}}</h6>
          <hr>
        </div>
        <div class=" container">
          <div class="row tags">
            <div class="col-4" *ngFor="let productTag of  category.productTags" [class.active]="selectedProductTag==productTag" (click)="selectProductTag(productTag);">{{productTag.name}}</div>


          </div>
        </div>
      </div>

    </div>


  </div>
</app-transition>