<app-transition>
  <div class="container">
    <div class="flex  row-reverse" appBack>
      <span><i class="icon iconfont icon-close48 text-2x  text-red "></i> </span>
    </div>
    <div class="flex-center">
      <div class="logo"></div>
    </div>




    <input class="underline-input" placeholder="手机号" [(ngModel)]="phone">
    <div class="flex  underline-input">
      <input type="text" placeholder="验证码" style="border:none;height:100%;" [(ngModel)]="authCode">
      <span class="shrink text-red text-small" (click)="sendAuthcode()" *ngIf="looptime==0">发送验证码</span>
      <span *ngIf="looptime>0" class="shrink text-red text-small">{{looptime}}  </span>
    </div>
    <input type="password" class="underline-input" placeholder="设置六位数密码" [(ngModel)]="password">
    <div>
      <div style="width:80%;margin-top:1rem;" class="center-block text-red text-small"> <input type="checkbox" [(ngModel)]="checked"> 我已经同意《省城批发网》服务条款</div>
    </div>

    <div class="">
      <div class="btn rounded  bg-orange center-block text-white" style="margin-top:2rem; width:80%;padding-left:20px;padding-right:20px;"
        (click)="signup()">注册</div>
    </div>


  </div>

</app-transition>